name: Update Changelog

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  update-changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Need full history to find commits since last tag

      - uses: ./update-changelog
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog: './CHANGES.md'
          unreleased-header: '## Unreleased'

